// .chat-prompts-tags {
//   .ant-tag {
//     margin: 2px;
//   }
// }

// .add-btn {
//   margin-bottom: 5px;
// }

// .chat-table-tip, .chat-table-btns {
//   display: flex;
//   justify-content: space-between;
// }

// .chat-table-btns {
//   margin-bottom: 5px;

//   .num {
//     margin-left: 10px;
//   }
// }

.chat-sync-path {
  font-size: 12px;
  font-weight: 500;
  color: #888;
  margin-bottom: 5px;
  line-height: 16px;

  span {
    display: inline-block;
    // background-color: #d8d8d8;
    color: #4096ff;
    padding: 0 8px;
    height: 20px;
    line-height: 20px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: underline;
  }
}