.md-task {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;

  .ant-breadcrumb-link {
    padding: 3px 5px;
    transition: all 300ms ease;
    border-radius: 4px;
    &:hover {
      color: rgba(0, 0, 0, 0.88);
      background-color: rgba(0, 0, 0, 0.06);
      cursor: pointer;
    }
  }
}
