.about {
  .log-tab {
    font-size: 14px;

    h2 {
      font-size: 16px;
    }
  }

  .markdown-body {
    background-color: unset;
  }

  .about-tab {
    .imgs {
      img {
        max-width: 200px;
        margin-bottom: 20px;
      }
    }
  }

  code {
    background-color: rgba(200, 200, 200, 0.4);
    padding: 2px 4px;
    border-radius: 5px;
  }
}
