.about {
  .log-tab {
    font-size: 14px;

    h2 {
      font-size: 16px;
    }
  }

  .about-tab {
    .imgs {
      img {
        max-width: 200px;
        margin-bottom: 20px;
      }
    }
  }
}
