:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #2a2a2a;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  padding: 0;
  margin: 0;
}

.ant-table-selection-column {
  width: 50px !important;
  min-width: 50px !important;
}

.chat-prompts-val {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.chat-add-btn {
  margin-bottom: 5px;
}

.chat-prompts-tags {
  .ant-tag {
    margin: 2px;
  }
}

.chat-table-tip {
  > span {
    line-height: 16px;
  }
}

.chat-sync-path {
  font-size: 12px;
  font-weight: 500;
  color: #888;
  margin-bottom: 5px;
  line-height: 16px;

  > div {
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #2a2a2a;
  }

  span {
    display: inline-block;
    // background-color: #d8d8d8;
    color: #4096ff;
    padding: 0 8px;
    height: 20px;
    line-height: 20px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: underline;
  }
}