.chat-logo {
  text-align: center;
  padding: 5px 0;

  img {
    width: 48px;
    height: 48px;
  }
}

.chat-container {
  padding: 20px;
}

.ant-menu {
  .ant-menu-item {
    background-color: #f8f8f8;
  }
}

.ant-layout-footer {
  color: #666 !important;
  opacity: 0.7;
}